<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>CONFIRMAÇÃO DAS RESPOSTAS</title>
</head>
<body>
    <div class="container">
        <div class="h3 text-center">CONFIRMAÇÃO DAS RESPOSTAS</div>
        <hr>
        <div class="h6">NOME:</div>
        <div class="h2"><%= nome.toUpperCase() %></div>
    <hr>
    <table class="table table-dark table-hover">
        <thead>
            <th>Q1:</th>
            <th>Q2:</th>
            <th>Q3:</th>
            <th>Q4:</th>
            <th>Q5:</th>
            <th>Q6:</th>
            <th>Q7:</th>
            <th>Q8:</th>
            <th>Q9:</th>
            <th>Q10:</th>
        </thead>
        <tbody>
            <td><%= q1 %></td>
            <td><%= q2 %></td>
            <td><%= q3 %></td>
            <td><%= q4 %></td>
            <td><%= q5 %></td>
            <td><%= q6 %></td>
            <td><%= q7 %></td>
            <td><%= q8 %></td>
            <td><%= q9 %></td>
            <td><%= q10 %></td>
        </tbody>
        

    </table>
    <div class="h6 text-center">SUAS RESPOSTAS FORAM ENVIADAS</div>
    <a href="/" class="btn btn-primary">VOLTAR PARA O ÍNICIO</a>
    </div> 
       
</body>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/popper.min.js"></script>
</html>