<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>GABARITOS</title>
</head>
<body>
<hr>
<div class="container-sm">
    <div class="h1 text-center bg-primary text-light">JULHO - AGOSTO</div>
</div>
<hr>
<h1 class="text-center display-5">Língua Portuguesa</h1>
<div class="container-sm">
    <div class="row">
        <div class="col">
            <h3 class="display-6 text-center">D1 – Localizar informações explícitas em um texto</h3>            
        </div>
        <div class="row">
            <div class="col">
                <button class="btn btn-warning" id="esconder_lpd1">Esconder</button>
            </div>
            <div class="col">
                <button class="btn btn-success" id="mostrar_lpd1">Mostrar</button> 
            </div>
        </div>
    </div>
    
    
</div>
<div class="container-sm" id="gab_lpd1">
    <table class="table table-bordered table-sm">
        <tbody>
            <tr>
                <th class="align-middle">NOME</th>
                <th class="align-middle">Q1</th>
                <th class="align-middle">Q2</th>
                <th class="align-middle">Q3</th>
                <th class="align-middle">Q4</th>
                <th class="align-middle">Q5</th>
                <th class="align-middle">Q6</th>
                <th class="align-middle">Q7</th>
                <th class="align-middle">Q8</th>
                <th class="align-middle">Q9</th>
                <th class="align-middle">Q10</th>
                <th class="align-middle">NOTA</th>
                <th class="align-middle">AÇÃO</th>                   
            </tr>
            <% lpd1.forEach((lpd1) => { %>
                   
                    <tr>
                        <td class="align-middle text-nowrap"><%= lpd1.nome %></td>
                        <td class="align-middle">
                            <%= lpd1.q1 %>
                            <%
                                if(lpd1.q1=="A"){
                                    total++
                                }
                            %>
                        </td>
                        <td class="align-middle">
                            <%= lpd1.q2 %>
                            <% 
                                if(lpd1.q2 == "B"){
                                    total++
                                }
                            %>
                        </td>
                        <td class="align-middle">
                            <%= lpd1.q3 %>
                            <% 
                                if(lpd1.q3 == "C"){
                                    total++
                                }
                            %>
                        </td>
                        
                        <td class="align-middle">
                            <%= lpd1.q4 %>
                            <% 
                                if(lpd1.q4 == "D"){
                                    total++
                                }
                            %>
                        </td>
                        <td class="align-middle">
                            <%= lpd1.q5 %>

                            <% 
                                if(lpd1.q5 == "D"){
                                    total++
                                }
                            %>
                        
                        </td>
                        <td class="align-middle">
                            <%= lpd1.q6 %>
                            <% 
                                if(lpd1.q6 == "B"){
                                    total++
                                }
                            %>
                        </td>
                        <td class="align-middle">
                            <%= lpd1.q7 %>
                            <% 
                                if(lpd1.q7 == "B"){
                                    total++
                                }
                            %>
                        </td>
                        <td class="align-middle">
                            <%= lpd1.q8 %>
                            <% 
                                if(lpd1.q8 == "A"){
                                    total++
                                }
                            %>
                        </td>
                        <td class="align-middle">
                            <%= lpd1.q9 %>
                            <% 
                                if(lpd1.q9 == "B"){
                                    total++
                                }
                            %>
                        </td>
                        <td class="align-middle">
                            <%= lpd1.q10 %>
                            <% 
                                if(lpd1.q10 == "B"){
                                    total++
                                }
                            %>
                        </td>

                        <td class="align-middle"><%= total %></td>
                        <% total = 0 %>

                        <td class="align-middle">
                            <form method="POST" action="/deletarlpd1">
                                <input type="hidden" name="id" value="<%=lpd1.id%>">
                                <button class="btn btn-danger">Deletar</button>
                            </form>
                        </td>
                    </tr>
                <% }) %>
                
            </tbody>
        </table>
</div>

<div class="container-sm">
    <div class="row">
        <div class="col">
            <h3 class="display-6 text-center">D3 – Inferir o sentido de uma palavra ou expressão</h3>            
        </div>
        <div class="row">
            <div class="col">
                <button class="btn btn-warning" id="esconder_lpd3">Esconder</button>
            </div>
            <div class="col">
                <button class="btn btn-success" id="mostrar_lpd3">Mostrar</button> 
            </div>
        </div>
    </div>
        
</div>
<div class="container-sm" id="gab_lpd3">
    <table class="table table-bordered table-sm">
        <tbody>
            <tr>
                <th class="align-middle">NOME</th>
                <th class="align-middle">Q1</th>
                <th class="align-middle">Q2</th>
                <th class="align-middle">Q3</th>
                <th class="align-middle">Q4</th>
                <th class="align-middle">Q5</th>
                <th class="align-middle">Q6</th>
                <th class="align-middle">Q7</th>
                <th class="align-middle">Q8</th>
                <th class="align-middle">Q9</th>
                <th class="align-middle">Q10</th>
                <th class="align-middle">NOTA</th>
                <th class="align-middle">AÇÃO</th>                   
            </tr>
            <% lpd3.forEach((lpd3) => { %>
                   
                    <tr>
                        <td class="align-middle text-nowrap"><%= lpd3.nome %></td>
                        <td class="align-middle">
                            <%= lpd3.q1 %>
                            <%
                                if(lpd3.q1=="A"){
                                    total++
                                }
                            %>
                        </td>
                        <td class="align-middle">
                            <%= lpd3.q2 %>
                            <% 
                                if(lpd3.q2 == "D"){
                                    total++
                                }
                            %>
                        </td>
                        <td class="align-middle">
                            <%= lpd3.q3 %>
                            <% 
                                if(lpd3.q3 == "A"){
                                    total++
                                }
                            %>
                        </td>
                        
                        <td class="align-middle">
                            <%= lpd3.q4 %>
                            <% 
                                if(lpd3.q4 == "C"){
                                    total++
                                }
                            %>
                        </td>
                        <td class="align-middle">
                            <%= lpd3.q5 %>

                            <% 
                                if(lpd3.q5 == "A"){
                                    total++
                                }
                            %>
                        
                        </td>
                        <td class="align-middle">
                            <%= lpd3.q6 %>
                            <% 
                                if(lpd3.q6 == "B"){
                                    total++
                                }
                            %>
                        </td>
                        <td class="align-middle">
                            <%= lpd3.q7 %>
                            <% 
                                if(lpd3.q7 == "B"){
                                    total++
                                }
                            %>
                        </td>
                        <td class="align-middle">
                            <%= lpd3.q8 %>
                            <% 
                                if(lpd3.q8 == "C"){
                                    total++
                                }
                            %>
                        </td>
                        <td class="align-middle">
                            <%= lpd3.q9 %>
                            <% 
                                if(lpd3.q9 == "D"){
                                    total++
                                }
                            %>
                        </td>
                        <td class="align-middle">
                            <%= lpd3.q10 %>
                            <% 
                                if(lpd3.q10 == "A"){
                                    total++
                                }
                            %>
                        </td>

                        <td class="align-middle"><%= total %></td>
                        <% total = 0 %>

                        <td class="align-middle">
                            <form method="POST" action="/deletarlpd3">
                                <input type="hidden" name="id" value="<%=lpd3.id%>">
                                <button class="btn btn-danger">Deletar</button>
                            </form>
                        </td>
                    </tr>
                <% }) %>
                
            </tbody>
        </table>
</div>

<div class="container-sm">
    <div class="row">
        <div class="col">
            <h3 class="display-6 text-center">D15 - Reconhecer diferentes formas de tratar uma informação ...</h3>            
        </div>
        <div class="row">
            <div class="col">
                <button class="btn btn-warning" id="esconder_lpd15">Esconder</button>
            </div>
            <div class="col">
                <button class="btn btn-success" id="mostrar_lpd15">Mostrar</button> 
            </div>
        </div>
    </div>
        
</div>
<div class="container-sm" id="gab_lpd15">
    <table class="table table-bordered table-sm">
        <tbody>
            <tr>
                <th class="align-middle">NOME</th>
                <th class="align-middle">Q1</th>
                <th class="align-middle">Q2</th>
                <th class="align-middle">Q3</th>
                <th class="align-middle">Q4</th>
                <th class="align-middle">Q5</th>
                <th class="align-middle">Q6</th>
                <th class="align-middle">Q7</th>
                <th class="align-middle">Q8</th>
                <th class="align-middle">Q9</th>
                <th class="align-middle">Q10</th>
                <th class="align-middle">NOTA</th>
                <th class="align-middle">AÇÃO</th>                   
            </tr>
            <% lpd15.forEach((lpd15) => { %>
                   
                    <tr>
                        <td class="align-middle text-nowrap"><%= lpd15.nome %></td>
                        <td class="align-middle">
                            <%= lpd15.q1 %>
                            <%
                                if(lpd15.q1=="C"){
                                    total++
                                }
                            %>
                        </td>
                        <td class="align-middle">
                            <%= lpd15.q2 %>
                            <% 
                                if(lpd15.q2 == "B"){
                                    total++
                                }
                            %>
                        </td>
                        <td class="align-middle">
                            <%= lpd15.q3 %>
                            <% 
                                if(lpd15.q3 == "C"){
                                    total++
                                }
                            %>
                        </td>
                        
                        <td class="align-middle">
                            <%= lpd15.q4 %>
                            <% 
                                if(lpd15.q4 == "D"){
                                    total++
                                }
                            %>
                        </td>
                        <td class="align-middle">
                            <%= lpd15.q5 %>

                            <% 
                                if(lpd15.q5 == "B"){
                                    total++
                                }
                            %>
                        
                        </td>
                        <td class="align-middle">
                            <%= lpd15.q6 %>
                            <% 
                                if(lpd15.q6 == "A"){
                                    total++
                                }
                            %>
                        </td>
                        <td class="align-middle">
                            <%= lpd15.q7 %>
                            <% 
                                if(lpd15.q7 == "D"){
                                    total++
                                }
                            %>
                        </td>
                        <td class="align-middle">
                            <%= lpd15.q8 %>
                            <% 
                                if(lpd15.q8 == "A"){
                                    total++
                                }
                            %>
                        </td>
                        <td class="align-middle">
                            <%= lpd15.q9 %>
                            <% 
                                if(lpd15.q9 == "D"){
                                    total++
                                }
                            %>
                        </td>
                        <td class="align-middle">
                            <%= lpd15.q10 %>
                            <% 
                                if(lpd15.q10 == "C"){
                                    total++
                                }
                            %>
                        </td>

                        <td class="align-middle"><%= total %></td>
                        <% total = 0 %>

                        <td class="align-middle">
                            <form method="POST" action="/deletarlpd15">
                                <input type="hidden" name="id" value="<%=lpd15.id%>">
                                <button class="btn btn-danger">Deletar</button>
                            </form>
                        </td>
                    </tr>
                <% }) %>
                
            </tbody>
        </table>
</div>
<h1 class="text-center display-5">Matemática</h1>
<div class="container-sm">
    <div class="row">
        <div class="col">
            <h3 class="display-6 text-center">D18 - Calcular o resultado de uma multiplicação ou divisão de números naturais.</h3>            
        </div>
        <div class="row">
            <div class="col">
                <button class="btn btn-warning" id="esconder_matd18">Esconder</button>
            </div>
            <div class="col">
                <button class="btn btn-success" id="mostrar_matd18">Mostrar</button> 
            </div>
        </div>
    </div>
        
</div>
<div class="container-sm" id="gab_matd18">
    <table class="table table-bordered table-sm">
        <tbody>
            <tr>
                <th class="align-middle">NOME</th>
                <th class="align-middle">Q1</th>
                <th class="align-middle">Q2</th>
                <th class="align-middle">Q3</th>
                <th class="align-middle">Q4</th>
                <th class="align-middle">Q5</th>
                <th class="align-middle">Q6</th>
                <th class="align-middle">Q7</th>
                <th class="align-middle">Q8</th>
                <th class="align-middle">Q9</th>
                <th class="align-middle">Q10</th>
                <th class="align-middle">NOTA</th>
                <th class="align-middle">AÇÃO</th>                   
            </tr>
            <% matd18.forEach((matd18) => { %>
                   
                    <tr>
                        <td class="align-middle text-nowrap"><%= matd18.nome %></td>
                        <td class="align-middle">
                            <%= matd18.q1 %>
                            <%
                                if(matd18.q1=="C"){
                                    total++
                                }
                            %>
                        </td>
                        <td class="align-middle">
                            <%= matd18.q2 %>
                            <% 
                                if(matd18.q2 == "B"){
                                    total++
                                }
                            %>
                        </td>
                        <td class="align-middle">
                            <%= matd18.q3 %>
                            <% 
                                if(matd18.q3 == "D"){
                                    total++
                                }
                            %>
                        </td>
                        
                        <td class="align-middle">
                            <%= matd18.q4 %>
                            <% 
                                if(matd18.q4 == "A"){
                                    total++
                                }
                            %>
                        </td>
                        <td class="align-middle">
                            <%= matd18.q5 %>

                            <% 
                                if(matd18.q5 == "A"){
                                    total++
                                }
                            %>
                        
                        </td>
                        <td class="align-middle">
                            <%= matd18.q6 %>
                            <% 
                                if(matd18.q6 == "D"){
                                    total++
                                }
                            %>
                        </td>
                        <td class="align-middle">
                            <%= matd18.q7 %>
                            <% 
                                if(matd18.q7 == "A"){
                                    total++
                                }
                            %>
                        </td>
                        <td class="align-middle">
                            <%= matd18.q8 %>
                            <% 
                                if(matd18.q8 == "B"){
                                    total++
                                }
                            %>
                        </td>
                        <td class="align-middle">
                            <%= matd18.q9 %>
                            <% 
                                if(matd18.q9 == "C"){
                                    total++
                                }
                            %>
                        </td>
                        <td class="align-middle">
                            <%= matd18.q10 %>
                            <% 
                                if(matd18.q10 == "A"){
                                    total++
                                }
                            %>
                        </td>

                        <td class="align-middle"><%= total %></td>
                        <% total = 0 %>

                        <td class="align-middle">
                            <form method="POST" action="/deletarmatd18">
                                <input type="hidden" name="id" value="<%=matd18.id%>">
                                <button class="btn btn-danger">Deletar</button>
                            </form>
                        </td>
                    </tr>
                <% }) %>
                
            </tbody>
        </table>
</div>

<div class="container-sm">
    <div class="row">
        <div class="col">
            <h3 class="display-6 text-center">D19 - Resolver problema com números naturais, envolvendo diferentes...</h3>            
        </div>
        <div class="row">
            <div class="col">
                <button class="btn btn-warning" id="esconder_matd19">Esconder</button>
            </div>
            <div class="col">
                <button class="btn btn-success" id="mostrar_matd19">Mostrar</button> 
            </div>
        </div>
    </div>
        
</div>
<div class="container-sm" id="gab_matd19">
    <table class="table table-bordered table-sm">
        <tbody>
            <tr>
                <th class="align-middle">NOME</th>
                <th class="align-middle">Q1</th>
                <th class="align-middle">Q2</th>
                <th class="align-middle">Q3</th>
                <th class="align-middle">Q4</th>
                <th class="align-middle">Q5</th>
                <th class="align-middle">Q6</th>
                <th class="align-middle">Q7</th>
                <th class="align-middle">Q8</th>
                <th class="align-middle">Q9</th>
                <th class="align-middle">Q10</th>
                <th class="align-middle">NOTA</th>
                <th class="align-middle">AÇÃO</th>                   
            </tr>
            <% matd19.forEach((matd19) => { %>
                   
                    <tr>
                        <td class="align-middle text-nowrap"><%= matd19.nome %></td>
                        <td class="align-middle">
                            <%= matd19.q1 %>
                            <%
                                if(matd19.q1=="B"){
                                    total++
                                }
                            %>
                        </td>
                        <td class="align-middle">
                            <%= matd19.q2 %>
                            <% 
                                if(matd19.q2 == "D"){
                                    total++
                                }
                            %>
                        </td>
                        <td class="align-middle">
                            <%= matd19.q3 %>
                            <% 
                                if(matd19.q3 == "D"){
                                    total++
                                }
                            %>
                        </td>
                        
                        <td class="align-middle">
                            <%= matd19.q4 %>
                            <% 
                                if(matd19.q4 == "A"){
                                    total++
                                }
                            %>
                        </td>
                        <td class="align-middle">
                            <%= matd19.q5 %>

                            <% 
                                if(matd19.q5 == "D"){
                                    total++
                                }
                            %>
                        
                        </td>
                        <td class="align-middle">
                            <%= matd19.q6 %>
                            <% 
                                if(matd19.q6 == "C"){
                                    total++
                                }
                            %>
                        </td>
                        <td class="align-middle">
                            <%= matd19.q7 %>
                            <% 
                                if(matd19.q7 == "B"){
                                    total++
                                }
                            %>
                        </td>
                        <td class="align-middle">
                            <%= matd19.q8 %>
                            <% 
                                if(matd19.q8 == "C"){
                                    total++
                                }
                            %>
                        </td>
                        <td class="align-middle">
                            <%= matd19.q9 %>
                            <% 
                                if(matd19.q9 == "A"){
                                    total++
                                }
                            %>
                        </td>
                        <td class="align-middle">
                            <%= matd19.q10 %>
                            <% 
                                if(matd19.q10 == "D"){
                                    total++
                                }
                            %>
                        </td>

                        <td class="align-middle"><%= total %></td>
                        <% total = 0 %>

                        <td class="align-middle">
                            <form method="POST" action="/deletarmatd19">
                                <input type="hidden" name="id" value="<%=matd19.id%>">
                                <button class="btn btn-danger">Deletar</button>
                            </form>
                        </td>
                    </tr>
                <% }) %>
                
            </tbody>
        </table>
</div>
</body>
<script>
    var gabaritolpd1 = document.getElementById('gab_lpd1');
    var btn_esconde_gab_lpd1 = document.getElementById('esconder_lpd1');
    var btn_mostra_gab_lpd1 = document.getElementById('mostrar_lpd1');
    var gabaritolpd3 = document.getElementById('gab_lpd3');
    var btn_esconde_gab_lpd3 = document.getElementById('esconder_lpd3');
    var btn_mostra_gab_lpd3 = document.getElementById('mostrar_lpd3');
    var gabaritolpd15 = document.getElementById('gab_lpd15');
    var btn_esconde_gab_lpd15 = document.getElementById('esconder_lpd15');
    var btn_mostra_gab_lpd15 = document.getElementById('mostrar_lpd15');
    var gabaritomatd18 = document.getElementById('gab_matd18');
    var btn_esconde_gab_matd18 = document.getElementById('esconder_matd18');
    var btn_mostra_gab_matd18 = document.getElementById('mostrar_matd18');
    var gabaritomatd19 = document.getElementById('gab_matd19');
    var btn_esconde_gab_matd19 = document.getElementById('esconder_matd19');
    var btn_mostra_gab_matd19 = document.getElementById('mostrar_matd19');
   
   
   
    btn_esconde_gab_lpd1.addEventListener('click', function() {
        gabaritolpd1.style.display = 'none';
    });

    btn_mostra_gab_lpd1.addEventListener('click', function() {
        gabaritolpd1.style.display = 'block';
    });

    btn_esconde_gab_lpd3.addEventListener('click', function() {
        gabaritolpd3.style.display = 'none';
    });

    btn_mostra_gab_lpd3.addEventListener('click', function() {
        gabaritolpd3.style.display = 'block';
    });

    btn_esconde_gab_lpd15.addEventListener('click', function() {
        gabaritolpd15.style.display = 'none';
    });

    btn_mostra_gab_lpd15.addEventListener('click', function() {
        gabaritolpd15.style.display = 'block';
    });

    btn_esconde_gab_matd18.addEventListener('click', function() {
        gabaritomatd18.style.display = 'none';
    });

    btn_mostra_gab_matd18.addEventListener('click', function() {
        gabaritomatd18.style.display = 'block';
    });

    btn_esconde_gab_matd19.addEventListener('click', function() {
        gabaritomatd19.style.display = 'none';
    });

    btn_mostra_gab_matd19.addEventListener('click', function() {
        gabaritomatd19.style.display = 'block';
    });
</script>


<script src="./js/bootstrap.min.js"></script>
<script src="./js/popper.min.js"></script>
</html>